@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
	font-family: "Product Sans Reg";
	src: url("../fonts/Product_Sans_Regular.ttf")
}

@font-face {
	font-family: "Product Sans Bold";
	src: url("../fonts/Product_Sans_Bold.ttf")
}

* {
	margin: 0;
	padding: 0
}

body {
	background-color: #fff;
	font-family: "Product Sans Reg"!important
}

html {
	scroll-behavior: smooth
}

::-webkit-scrollbar {
	width: 7px
}

::-webkit-scrollbar-track {
	background: #fff
}

::-webkit-scrollbar-thumb {
	background: #102536
}

.navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.05) 0 48px 100px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.096);
	min-height: 7vh;
	position: fixed;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	top: 0;
	z-index: 999;
	color: #000
}

#icon {
	background-color: #fff;
	border-radius: 50%
}

.logo {
	width: 27px;
	height: 27px;
	font-size: 25px;
	font-weight: 700;
	margin-top: -10px
}

.nav-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 38%;
	margin-top: .1%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	transition: .12s ease
}

.nav-links a:hover {
	text-decoration: underline
}

.nav-links li {
	list-style: none
}

.nav-links a {
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
	font-weight: 400;
	transition: .2s ease-in
}

.nav-links a:hover {
	cursor: pointer
}

.hamburger {
	display: none
}

#cart-button {
	cursor: pointer;
	color: white;
	margin-top: .5%;
	border-radius: 50%;
	font-size: 1.2em;
	font-weight: 900;
	-webkit-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out
}

#icon {
	color: #1a1a1a
}

#cart-button #icon {
	padding: 5px;
	width: 1.8rem;
	height: 1.8rem
}

#cart-button:hover {
	-webkit-transform: scale(1.12);
	transform: scale(1.12)
}